.dashboard__container {
  display: grid;
  grid-template-columns: 20% 80%;
  height: 100vh;
  width: 100vw;
  font-size: 1.6rem;
}

.dashboard__content {
  display: flex;
  flex-direction: column;
}

.dashboard__container--minified {
  grid-template-columns: 10% 80%;
}
