.desktop__aside__container {
  width: 100%;
  transition: all 0.2s;
  background-color: #00468c;
  height: 100vh;
}

.desktop__aside__container__min {
  width: 50%;
  transition: all 0.2s;
  background-color: #00468c;
  height: 100vh;
}

.aside__header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 1rem 2rem;
}

.navigation__checkbox {
  display: none;
}

.navigation__icon {
  position: relative;
}
.navigation__icon,
.navigation__icon::before,
.navigation__icon::after {
  width: 3rem;
  height: 2px;
  background-color: #ffffff;
  display: inline-block;
}
.navigation__icon::before,
.navigation__icon::after {
  content: "";
  left: 0;
  position: absolute;
  transition: all 0.5s;
}
.navigation__icon::before {
  top: -0.8rem;
}
.navigation__icon::after {
  top: 0.8rem;
}

.navigation__button:hover .navigation__icon::before {
  top: -1rem;
}

.navigation__button:hover .navigation__icon::after {
  top: 1rem;
}

.navigation__checkbox:checked + .navigation__button .navigation__icon {
  background-color: transparent;
}

.navigation__checkbox:checked + .navigation__button .navigation__icon::before {
  top: 0rem;
  transform: rotate(135deg);
}

.navigation__checkbox:checked + .navigation__button .navigation__icon::after {
  top: 0rem;
  transform: rotate(-135deg);
}

.aside__logo {
  color: #85a5c5;
  font-size: 2rem;
}

.navigation__hamburger {
  margin-top: 3rem;
}

@media screen and (max-width: 1168px) {
  .aside__header {
    flex-direction: column-reverse;
  }
}

@media screen and (max-width: 784px) {
  .desktop__aside__container,
  .desktop__aside__container__min {
    display: none;
  }

  .mobile__nav__items {
    overflow: hidden;
    transition: transform 0.3s ease-out;
    height: auto;
    transform: scaleY(1);
    transform-origin: top;
    background-color: #00468c;
  }

  .mobile__nav__items--hide {
    transform: scaleY(0);
    height: 0;
    background-color: #00468c;
    transition: transform 0.3s ease-out;
  }

  .aside__logo {
    color: #00468c;
  }
  .mobile__aside__container {
    border-bottom: 1px solid #85a5c5;
  }

  .navigation__icon,
  .navigation__icon::before,
  .navigation__icon::after {
    background-color: #00468c;
  }

  .aside__header {
    width: 100%;
    display: flex;
    flex-direction: row;
  }
}
