.aside__container{
    background-color: #00468C;
}

.aside__header{
    width: 100%;
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
}

.navigation__checkbox {
    display: none; }

.navigation__icon {
    position: relative;
    margin-top: 1.35rem; }
    .navigation__icon, .navigation__icon::before, .navigation__icon::after {
      width: 3rem;
      height: 2px;
      background-color: #FFFFFF;
      display: inline-block; }
    .navigation__icon::before, .navigation__icon::after {
      content: "";
      left: 0;
      position: absolute;
      transition: all .5s; }
    .navigation__icon::before {
      top: -.8rem; }
    .navigation__icon::after {
      top: .8rem; }
  
  .navigation__button:hover .navigation__icon::before {
    top: -1rem; }
  
  .navigation__button:hover .navigation__icon::after {
    top: 1rem; }

  .navigation__checkbox:checked + .navigation__button .navigation__icon {
        background-color: transparent; }
      
  .navigation__checkbox:checked + .navigation__button .navigation__icon::before {
        top: 0rem;
        transform: rotate(135deg); }
      
   .navigation__checkbox:checked + .navigation__button .navigation__icon::after {
        top: 0rem;
        transform: rotate(-135deg); }

.aside__logo{
    color: #85A5C5;
    font-size: 2rem;
}